GHOSTFLEET_ENV=development
GHOSTFLEET_LOG_LEVEL=info
GHOSTFLEET_POSTGRES_DSN=postgres://ghostfleet:ghostfleet@localhost:5432/ghostfleet?sslmode=disable
GHOSTFLEET_MYSQL_DSN=ghostfleet:ghostfleet@tcp(localhost:3306)/ghostfleet

